*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:cursive;
   min-height: 100vh;
   background: hsl(240, 100%, 90%);
   background-size: cover;
   background-position: center;

}
button {
    border: none;
    cursor: pointer;
    background: transparent;
}
img {
    max-width: 100%;
}

/* main */
.main {
    width: 90%;
     
    padding: 0 1rem;
}
.main .main__container {
    display: flex;
    justify-content: center;
}
    /* result */
.main .main__result {
    padding-top: 4rem;
}
.result {
    min-height: 100vh;
    text-align: center;
    display: none;
}
.result .result__title {
    font-size: clamp(1.5rem, calc(3vw + 1rem), 3rem);
}
.result .result__score-box {
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.result .result__winning-time-minutes, .result__winning-time-seconds, .result__winning-in-moves {
    color: red;
}
.result .result__winning-time {
    padding-left: .3rem;
}


.result .result__score-box > * {
    padding-right: .3rem;
}
    /* retry btn */
.retry-btn {
    margin-top: 1.5rem;
    background: rgb(31, 84, 199);
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    background-size: cover;
    padding: 1rem 1.8rem;
    border-radius: 5px;
    color: #fff;
}

    /* heading */
.heading {
    background: -webkit-linear-gradient(45deg, red,green,blue,brown,pink);
    background: linear-gradient(45deg, red,green,blue,brown,pink);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    overflow: hidden;
}
    /* header */
.header {
    text-align: center;
    margin-bottom: 1.5rem;
}
.header .header__title {
    font-size: clamp(1.5rem, calc(3vw + 1rem), 3rem);
}
.header .header__text {
    color: #111;
    margin-top: .5rem;
}

    /* game controls */
.main .main__game-controls {
    width: 80%;
    max-width: 20rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    align-items: center;
}
.main .main__game-controls > *:not(:last-child){
    margin-right: 3.5rem;
}
.main .main__game-tries-box {
    display: flex;
    align-items: center;
}
 



.cards .cards__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.card {
    position: relative;

    display: grid;
     
    width: 5.5rem;
    height: 7.5rem;
    
    border-radius: 1rem;
    
    -webkit-perspective: 150rem;
    perspective: 150rem;
}

.card .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: inherit;
    overflow: hidden;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 .3rem rgba(0,0,0,.3);
    border: 0;
    cursor: pointer;
    /* font-size: 1.35rem; */
    font-size: 1.6rem;
}

.card .card__side--back {
    /* background-color: rgb(110, 110, 255); */
    background-color: rgb(50, 87, 255);
    transform: rotateY(180deg);
    display: grid;
    place-items: center;
    color: #fff;
}
.card .card__side--back:disabled {
    cursor: pointer
}
.card .card__side--front {
    background-position: 50% 100%;
    animation: ex 1s infinite ease-in;
}
@keyframes ex{
    0%,100% {
        background: linear-gradient(140deg, red, green, blue, purple, brown);
        background-position: 200% 200%;
        background-size: cover;
         
    }
}
.card.active .card__side--front { 
    transform: rotateY(-180deg);
}
.card.active .card__side--back {
    transform: rotateY(0deg);
}
.card.match .card__side--front { 
    transform: rotateY(-180deg);
}
.card.match .card__side--back {
    transform: rotateY(0deg);
}

@media(max-width: 650px) {
    .cards .cards__row {
        gap: 1.2rem;
        margin-bottom: 1.2rem;
    }
    .card {
        width: 4.5rem;
        height: 6.5rem;
    }
}

@media(max-width: 500px){
    body {
        align-items: flex-start;
        padding-top: 3rem;
    }
    .card {
        width: 4rem;
        height: 6rem;
    }
}

@media(max-width: 300px){
    body {
        align-items: center;
    }
    .card {
        width: 2.7rem;
        height: 4.7rem;
    }
}
 
 